@charset 'UTF-8';

/* Colors  */
/* #080F0F */
/* #2EC4B6 */
/* #A52422 */

/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');/* 'Raleway', sans-serif; */

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head h1 {
    line-height: 1em;
    margin-bottom: .5em;
}

.head {
    text-align: center;
    margin: 50px auto;
    width: 90vw;
}

form {
    margin: 0 auto 32px;
    width: 80vw;
    max-width: 600px;
    border-radius: 10px;
    background: rgba(8, 15, 15, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(8, 15, 15, 0.26);
}

.input {
    padding: 15px 30px;
}

.input p {
    line-height: 1em;
}

span {
    font-size: .8em;
}

.input input, select, textarea, .radio, .checkbox {
    border: none;
    margin: .6em 0;
}

.text input, textarea {
    padding: 7px;
    border-radius: 6px;
    width: 100%;
}

select {
    padding: 5px;
    border-radius: 6px;
    width: 100%;
}

button {
    border-radius: 10px;
    width: 100%;
    color: white;
    font-size: large;
    font-weight: 600;
    background: linear-gradient(#2EC4B6, #1d9c8f);
    border: none;
    padding: 15px;
}